@font-face {
  font-family: 'CenturyGothicBold';
  font-weight: 100;
  font-style: bold;
  src: url("/fonts/CenturyGothicBold/CenturyGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: 'CenturyGothic';
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/CenturyGothic/GOTHIC.TTF") format("truetype");
}

@font-face {
  font-family: 'CenturyGothicRegular';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Century Gothic - Regular/CenturyGothic.ttf") format("truetype");
}

@font-face {
  font-family: 'CenturyGothicItalic';
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/CenturyGothic - Italic/ofont.ru_Century Gothic Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'CenturyGothicBold';
  font-weight: 100;
  font-style: bold;
  src: url("/fonts/CenturyGothicBold/CenturyGothicBold.ttf") format("truetype");
}

@font-face {
  font-family: 'CenturyGothic';
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/CenturyGothic/GOTHIC.TTF") format("truetype");
}

@font-face {
  font-family: 'CenturyGothicRegular';
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Century Gothic - Regular/CenturyGothic.ttf") format("truetype");
}

@font-face {
  font-family: 'CenturyGothicItalic';
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/CenturyGothic - Italic/ofont.ru_Century Gothic Italic.ttf") format("truetype");
}

body {
  overflow: hidden;
  font-size: 18px;
  line-height: 1.25;
  font-family: "CenturyGothic", sans-serif;
  margin: 0;
  padding: 0;
}

body.mypage .site-header {
  min-height: 965px;
  max-height: 965px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 0.95;
  cursor: default;
}

p {
  cursor: default;
}

.header-logo {
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

.header-logo .logo img {
  width: 25vw;
}

.main-info-about-delmar {
  padding: 0;
}

.main-info-about-delmar .header-name {
  padding: 0;
}

.form {
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px 40px;
}

.form input {
  outline: none;
  display: block;
  background-color: white;
  border: none;
  font-size: 12px;
  padding: 15px;
  width: 100%;
  margin: 20px 0;
  transition: all .4s ease;
}

.form input:first-child {
  margin-top: 0;
}

.form input:focus {
  box-shadow: inset 0 -3px #6bbebf;
}

.form ::placeholder {
  color: #6bbebf;
}

.button {
  letter-spacing: 1px;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #6bbebf;
  border: none;
  border-bottom: #61acad 4px solid;
  color: white;
  width: 100%;
  padding: 15px;
  transition: all .3s ease;
}

.button:hover {
  background-color: #78d2d3;
}

.button:active {
  background-color: #6bbebf;
}

.link_password {
  outline: none;
  display: block;
  font-size: 11px;
  width: 92px;
  margin: auto;
  margin-top: 12px;
  color: #6bbebf;
}

.link_password:hover {
  color: #f1f1f1;
}

.link_password:focus {
  color: silver;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  body.mypage .site-header {
    min-height: 600px;
    max-height: 600px;
  }
  .header-logo {
    margin-top: 20px;
  }
  .form {
    margin-top: 20px;
    padding: 30px 30px;
  }
  .form input {
    font-size: 11px;
    padding: 13px;
  }
  .button {
    font-size: 12px;
    padding: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    margin-top: 20px;
  }
  .header-logo .logo img {
    width: 45vw;
  }
  .form {
    display: block;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px;
  }
  .form input {
    font-size: 11px;
    padding: 13px;
  }
  .button {
    font-size: 12px;
    padding: 12px;
  }
}

@media screen and (max-width: 480px) {
  body.mypage .site-header {
    min-height: 500px;
  }
  .header-logo {
    margin-top: 20px;
  }
  .header-logo .logo img {
    width: 55vw;
  }
  .form {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px;
  }
  .form input {
    font-size: 11px;
    padding: 13px;
  }
  .button {
    font-size: 12px;
    padding: 12px;
  }
}
