@media screen and (max-width: 1200px) {
  body.mypage .site-header {
    min-height: 600px;
    max-height: 600px;
  }
  .header-logo {
    margin-top: 20px;
  }
  .form {
    margin-top: 20px;
    padding: 30px 30px;
  }
  .form input {
    font-size: 11px;
    padding: 13px;
  }
  .button {
    font-size: 12px;
    padding: 12px;
  }
}

@media screen and (max-width: 768px) {
  .header-logo {
    margin-top: 20px;
  }
  .header-logo .logo img {
    width: 45vw;
  }
  .form {
    display: block;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px;
  }
  .form input {
    font-size: 11px;
    padding: 13px;
  }
  .button {
    font-size: 12px;
    padding: 12px;
  }
}

@media screen and (max-width: 480px) {
  body.mypage .site-header {
    min-height: 500px;
  }
  .header-logo {
    margin-top: 20px;
  }
  .header-logo .logo img {
    width: 55vw;
  }
  .form {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px;
  }
  .form input {
    font-size: 11px;
    padding: 13px;
  }
  .button {
    font-size: 12px;
    padding: 12px;
  }
}
