@media screen and (max-width: 1200px) {
  body.mypage .site-header {
    min-height: 700px;
    max-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-logo {
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }
  .h1 {
    font-size: 3.0em;
  }
  .h2 {
    font-size: 2.438em;
  }
  .header-button .button {
    padding: 10px 70px;
    font-size: 1em;
  }
  .header-info-text {
    font-size: 0.6em;
  }
  .h3-cotedj-delmar {
    margin-right: 17%;
  }
  .content-kotedj-text p {
    font-size: 0.8em;
  }
  .content-kotedj-swiper {
    margin-top: 4px;
  }
  .content-kotedj-swiper .swiper1 {
    width: 490px;
    height: 100%;
  }
  .content-kotedj-swiper .swiper1 .swiper-slide {
    height: 382px;
  }
  .h3-count-of-rooms {
    padding-left: 15px;
  }
  .count-of-rooms-text-1 {
    padding-left: 0;
  }
  .count-of-rooms-text-1 p {
    font-size: 0.8em;
  }
  .count-of-rooms-text-2 p {
    font-size: 0.8em;
  }
  .content-room-lux-1-text {
    padding-right: 15px;
    margin-bottom: 15px;
  }
  .content-room-lux-1-text .h3 {
    font-size: 0.9em;
  }
  .content-room-lux-1-text p {
    font-size: 0.8em;
  }
  .content-room-lux-1 .swiper2 .swiper-slide {
    height: 297px;
  }
  .content-room-lux-2-text {
    padding-left: 0;
    margin-top: 28px;
  }
  .content-room-lux-2-text .h3 {
    font-size: 0.9em;
  }
  .content-room-lux-2-text p {
    font-size: 0.8em;
  }
  .content-room-lux-2 .swiper3 .swiper-slide {
    height: 297px;
  }
  .rul-1 {
    padding: 0;
    width: 535px;
  }
  .rul-1 .h3 {
    line-height: 1.3;
    font-size: 0.8em;
    padding: 5px 10px;
  }
  .rul-1 .triangle {
    margin-left: 505px;
    border-width: 0 0 66px 29px;
  }
  .rul-2 .h3 {
    line-height: 1.3;
    font-size: 0.8em;
    width: 420px;
  }
  .rul-2 .triangle {
    margin-left: -1px;
    border-width: 66px 29px 0 0;
  }
  .service-1 .services-text {
    font-size: 0.8em;
  }
  .service-1 .services-text p strong {
    font-size: 1em;
  }
  .service-2 .services-text {
    font-size: 0.8em;
  }
  .service-2 .services-text p {
    margin: 0;
  }
  .service-2 .services-text p strong {
    font-size: 1em;
  }
  .service-3 .services-text {
    font-size: 0.8em;
  }
  .service-3 .services-text p strong {
    font-size: 1em;
  }
}

@media screen and (max-width: 992px) {
  body.mypage .site-header {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-logo {
    margin-top: 20px;
    padding: 0;
    text-align: center;
  }
  .h1 {
    font-size: 3.0em;
  }
  .h2 {
    font-size: 2.0em;
  }
  .h3 {
    font-size: 1em;
  }
  .header-button .button {
    padding: 5px 30px;
    font-size: 1em;
  }
  .header-info-text {
    width: 70%;
    margin-top: 10px;
    font-size: 0.7em;
  }
  .h3-cotedj-delmar {
    font-size: 1em;
    margin-right: 13%;
  }
  .content-kotedj-swiper .swiper1 {
    width: 324px;
    height: 100%;
  }
  .content-kotedj-swiper .swiper1 .swiper-slide {
    height: 280px;
  }
  .h3-count-of-rooms {
    font-size: 1em;
  }
  .count-of-rooms-text-1 p, .count-of-rooms-text-2 p {
    margin: 0;
    margin-top: 20px;
  }
  .content-room-lux-1-text {
    padding-right: 0;
  }
  .content-room-lux-1-text .h3 {
    font-size: 1em;
  }
  .content-room-lux-1-text p {
    font-size: 0.7em;
  }
  .content-room-lux-2-text {
    padding-left: 0;
    margin-top: 38px;
  }
  .content-room-lux-2-text .h3 {
    font-size: 1em;
  }
  .content-room-lux-2-text p {
    font-size: 0.7em;
  }
  .rul-1 .h3 {
    line-height: 1.2;
    width: 600px;
    font-size: 1em;
  }
  .rul-1 .triangle {
    margin-left: 592px;
    border-width: 0 0 76px 29px;
  }
  .rul-2 {
    padding: 0;
    margin-left: 285px;
  }
  .rul-2 .h3 {
    line-height: 1.2;
    width: 445px;
    font-size: 1em;
  }
  .rul-2 .triangle {
    margin-left: -1px;
    margin-top: -1px;
    border-width: 97px 30px 0 0;
  }
  .service-1 .services-text {
    font-size: 0.8em;
  }
  .service-1 .services-text p strong {
    font-size: 1em;
  }
  .service-2 .services-text {
    width: 225px;
    font-size: 0.8em;
  }
  .service-2 .services-text p {
    margin: 0;
  }
  .service-2 .services-text p strong {
    font-size: 1em;
  }
  .service-3 .services-text {
    font-size: 0.8em;
  }
  .service-3 .services-text p strong {
    font-size: 1em;
  }
  .my-footer .contacts .address {
    font-size: 0.8em;
    width: 253px;
  }
  .my-footer .contacts .address .fa {
    margin: 3px 10px 0 10px;
  }
  .my-footer .contacts .phone {
    font-size: 0.8em;
    width: 230px;
  }
  .my-footer .contacts .phone .fa {
    width: 34px;
    height: 34px;
    margin: 5px 10px 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .h1 {
    margin-top: 20px;
    font-size: 48px;
  }
  .h2 {
    font-size: 26px;
  }
  .header-info-text {
    margin-top: 10px;
    font-size: 12px;
  }
  .header-button {
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .header-logo .logo img {
    margin-top: 20px;
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  body.mypage .site-header {
    min-height: 570px;
    max-height: 570px;
  }
  .login_admin {
    margin-top: 0;
  }
  .h1 {
    font-size: 1.278em;
  }
  .h2 {
    font-size: 0.944em;
  }
  .header-info-text {
    font-size: 0.5em;
  }
  .header-logo .logo img {
    width: 200px;
  }
  .content-kotedj-text p {
    font-size: 0.778em;
  }
  .h3-count-of-rooms {
    padding-left: 10px;
    font-size: 0.889em;
  }
  .content-kotedj-swiper .swiper1 {
    width: 260px;
    height: 100%;
  }
  .content-kotedj-swiper .swiper1 .swiper-slide {
    height: 250px;
  }
  .content-room-lux-1 .swiper2 {
    width: 260px;
    height: 100%;
  }
  .content-room-lux-1 .swiper2 .swiper-slide {
    height: 250px;
  }
  .content-room-lux-1-text {
    padding: 15px;
    margin-bottom: 10px;
  }
  .content-room-lux-1-text .h3 {
    font-size: 0.889em;
  }
  .content-room-lux-1-text p {
    font-size: 0.778em;
  }
  .content-room-lux-2 .swiper3 {
    width: 260px;
    height: 100%;
  }
  .content-room-lux-2 .swiper3 .swiper-slide {
    height: 250px;
  }
}
