<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Delmar</title>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<script src="libs/swiper/dist/js/swiper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/swiper/dist/css/swiper.min.css">

	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>


	<!-- <style>body { opacity: 0; overflow-x: hidden; }</style> не показываем ничего, пока не загрузятся все стили -->

</head>
<body class="mypage" ng-app="myApp">
	
		<div class="my-header">
			<header class="site-header" style="background-image: url(img/top-bg.png);">
				<div class="container">
					<div class="row">	
						<a href="login.html" class='login_admin fa fa-sign-in'></a>
						<div class="header-logo col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
							<a href="delmar.in.ua" class="logo">
								<img src="img/logo.png" alt="База отдыха DelMar">
							</a>
						</div>
						<div class="main-info-about-delmar col-lg-12 col-md-12 col-sm-12">
							<div class="header-name col-lg-12 col-md-12 col-sm-12">
								<h1 class="h1">коттедж "delMar"</h1>
								<h2 class="h2">Федотова коса, остров Бирючий</h2>
							</div>
							<div class="header-button col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
								<a href="#" class="button">Бронирование</a>
							</div>
							<div class="header-info-text col-lg-7 col-md-7 col-md-pull-0 col-sm-7 col-xs-7">
								<p>Бирючий остров – уникальное природное место.
								Расположен остров на юге Украины в Херсонской области.
								Омывается Азовским морем. Здесь можно не только отдохнуть,
								но и насладиться интересными достопримечательностями и пообщаться
								с дикой природой. Длина береговой линии – 20 км. На острове расположены лиманы, а также мелководные бухты. Всегда поддерживается в чистоте.
								Место подходит для летнего отдыха с детьми.</p>
							</div>
						</div>
					</div>
				</div>
			</header>
		</div>



		<div class="my-content" ng-controller="contentCtrl">
			<div class="container">
				<div class="row">
					
					<h3 class="h3-stock col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						Внимание!
						Цена номера в 2017 году 900 грн. за номер.
					</h3>
					<h3 class="h3-booking col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
						Бронирование номеров в коттедже «delMar»
					</h3>
					<p class="available-rooms col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">Свободные номера</p>
					<div class="info-rooms col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<p class="room col-lg-1 col-xs-1"><span>1 этаж №1</span>
							2-х местный + 2 доп. места и кухня</p>
							<p class="room col-lg-1 col-xs-1"><span>1 этаж №2</span>
							2-х местный + 2 доп. места и кухня</p>
							<p class="room col-lg-1 col-xs-1"><span>1 этаж №3</span>
							2-х местный + 2 доп. места без кухни</p>
							<p class="room col-lg-1 col-xs-1"><span>1 этаж №4</span>
							2-х местный + 2 доп. места без кухни</p>
							<p class="room col-lg-1 col-xs-1"><span>2 этаж №5</span>
							2-х местный + 1 доп. место и кухня</p>
							<p class="room col-lg-1 col-xs-1"><span>2 этаж №6</span>
							2-х местный + 1 доп. место и кухня</p>
							<p class="room col-lg-1 col-xs-1"><span>2 этаж №7</span>
							2-х местный + 1 доп. место без кухни</p>
							<p class="room col-lg-1 col-xs-1"><span>2 этаж №8</span>
							2-х местный + 1 доп. место без кухни</p>
						</div>
					</div>

					<div class="form col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form name="myForm" ng-submit="submitForm(myForm.$valid)" novalidate>
							<div class="row">
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="row">
										<p class="name-group">Дополнительные места в номере</p>
										<!-- <input type="radio" name="r1" id="id1" class="select-input"> -->
										<label class="select-label" ng-model="radioModel" uib-btn-radio="'1-place'" ng-change="change1()" ng-class="radioClass1" id="place1" uncheckable>{{place1}}</label>
										<!-- <input type="radio" name="r1" id="id2" class="select-input"> -->
										<label class="select-label" ng-model="radioModel" uib-btn-radio="'2-places'" ng-change="change2()" ng-class="radioClass2" id="place2" uncheckable>{{place2}}</label>
									</div>
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error': myForm.fioname.$invalid && !myForm.fioname.$pristine }">
									<div class="row">
										<p class="name-group hidden-xs" for="fio"><span>фио</span> (полностью)</p>
										<input type="text" class="form-input" id="fio" name="fioname" ng-model="fioModel" ng-minlength="8" required>
										<span ng-show="myForm.fioname.$invalid && !myForm.fioname.$pristine && !myForm.fioname.minlength" class="error-input">Слишком короткое имя!</span>
									</div>
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error': myForm.passportname.$invalid && !myForm.passportname.$pristine }">
									<div class="row">
										<p class="name-group hidden-xs">Серия и номер паспорта</p>
										<input type="text" class="form-input" id="passport" name="passportname" ng-model="passportModel" ng-minlength="6" required>
										<span ng-show="myForm.passportname.$invalid && !myForm.passportname.$pristine && !myForm.passportname.minlength" class="error-input">Слишком короткое имя!</span>
									</div>
								</div>
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error': myForm.phonename.$invalid && !myForm.phonename.$pristine }">
									<div class="row">
										<p class="name-group hidden-xs">Контактный телефон</p>
										<input type="text" class="form-input" id="phone" name="phonename" ng-model="phoneModel" ng-minlength="10" ng-pattern='/^[0-9]+$/' required>
										<span ng-show="myForm.phonename.$invalid && !myForm.phonename.$pristine && !myForm.phonename.minlength" class="error-input">Слишком короткий телефон!</span>
									</div>
								</div>
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error': myForm.emailname.$invalid && !myForm.emailname.$pristine }">
									<div class="row">
										<p class="name-group hidden-xs">E-mail</p>
										<input type="text" class="form-input" id="email" name="emailname" ng-model="emailModel" ng-minlength="5" ng-pattern='/^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$/' required>
										<span ng-show="myForm.emailname.$invalid && !myForm.emailname.$pristine && !myForm.emailname.minlength" class="error-input">Неверный формат ввода!</span>
									</div>
								</div>
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="row">
										<p class="name-group hidden-xs">Примечание</p>
										<textarea rows="4" type="text" class="form-input" id="comments" name="comments"></textarea>
									</div>
								</div>

								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="row">
										<div class="scrolling">
												<table class="my-table">
													<thead>
														<tr>
															<th class="">
																<select type="text" id="select-month" class="main-namerow" ng-model="month1" ng-options="month as month.name for month in months" options-attribute-transform="{'style: font-size: 0.6em'}">
																</select>
															</th>
															<th class="first-main-empty-column"></th>
															<th class="main-oneday">1</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">2</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">3</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">4</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">5</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">6</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">7</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">8</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">9</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">10</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">11</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">12</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">13</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">14</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">15</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">16</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">17</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">18</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">19</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">20</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">21</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">22</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">23</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">24</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">25</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">26</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">27</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">28</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">29</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">30</th>
															<th class="empty-main-column"></th>
															<th class="main-oneday">31</th>
															<th class="empty-main-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty">1 этаж
															</th>
															<th></th>
															<th class="kinds" colspan="6">
																<span class="circle-red"></span>занят
															</th>
															<th class="kinds" colspan="7">
																<span class="circle-yellow"></span>резерв
															</th>
															<th class="kinds" colspan="8">
																<span class="circle-green"></span>свободно
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																и кухня<span>&#8470; 1</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty"></th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																и кухня<span>&#8470; 2</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty"></th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																без кухни<span>&#8470; 3</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty"></th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																без кухни<span>&#8470; 4</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty">2 этаж</th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																и кухня<span>&#8470; 5</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty"></th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																и кухня<span>&#8470; 6</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty"></th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																и кухня<span>&#8470; 7</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>
														<tr>
															<th class="namerow-empty"></th>
															<th class="empty-row-first-empty-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
															<th class="oneday-empty-row"></th>
															<th class="empty-row-column"></th>
														</tr>
														
														<tr>
															<th class="namerow">2-х местный
																+ 2 доп. места
																и кухня<span>&#8470; 8</span></th>
															<th class="first-empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
															<th class="oneday"></th>
															<th class="empty-column"></th>
														</tr>

													</tbody>
												</table>
										</div>
										
									</div>
								</div>

								<div class="booking col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="row">
										<div class="nights">
											<span>7 ночей, 6300 грн.</span>
											<p>* Бронировки без оплаты удаляются через 7 дней</p>
										</div>
										
										<div class="pay-buttons">
											<a href="#" class="pay-button">забронировать с оплатой</a>
											<a href="#" class="pay-button">забронировать без оплаты</a>
										</div>

										<div class="form-group payment-method col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="row">
												<p class="name-group">Способ оплаты</p>
												<select type="text" id="select-payment" class="form-input" ng-model="pay1" ng-options="data as data.name for data in payment">
													<option value="" selected>Выбрать...</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								
								<div class="confirm-button col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
									<button type="button" class="main-button" ng-disabled='!myForm.$valid' ng-click="acceptOrder()">Отправить запрос</button>
								</div>
							</div>
						</form>
					</div>

					<div class="info-rules col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<p><strong>Важно!</strong> При отказе от бронирования менее, чем за 2 недели до даты фактического заезда, сумма предоплаты возврату не подлежит. При отказе от бронирования за больший срок предоплата может быть возвращена за минусом всех банковских комисий.
								
								Для возврата предоплаты обязательно пришлите скан-копию чека об оплате или выписки из платежной системы.</p>
						</div>
					</div>

					<div class="content-rules col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="rul-1 col-lg-7 col-md-7 col-sm-6 col-xs-12">
							<h3 class="h3">Выселение - до 12:00, заселение - с 14:00.
								Коттеджи принимают отдыхающих с собаками любых пород.
								Курение в номерах - запрещено.</h3>
							<div class="triangle"></div>
						</div>
						<div class="rul-2 col-lg-5 col-md-5 col-sm-5 col-xs-12">
							<h3 class="h3">В каждом номере предоставляется
								комплект постельного белья,
								полотенец и косметики (мыло, шампунь)</h3>
							<div class="triangle"></div>
						</div>
					</div>

					<a type="button" class="gototop" value="scroll" style="display: none"></a>

				</div>
			</div>
		</div>

		<div class="my-footer">
			<div class="container-fluid">
				<div class="row">

					<div class="contacts">
						<div class="address col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-4">
							<i class="fa"></i>
							Бирючий Остров,
							Кирилловка, 72563, Украина
						</div>
						<div class="phone col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1">
							<i class="fa"></i>
							тел.: <a href='tel:+380664441411'>+380 (66) 444 14 11</a>
							<a href='tel:+380974441411'>+380 (97) 444 14 11</a>
						</div>
					</div>

					<div id="map"></div>

				</div>
			</div>		
		</div>
		
	
	<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfy-cc_w8992EI8DKW4rJkodCN_jWi_FE&callback=initMap">
	</script>

	 <script type="text/javascript">
		  var map;
		  function initMap() {
				map = new google.maps.Map(document.getElementById('map'), {
					 center: {lat: 46.224800, lng: 35.240255},
					 zoom: 18,
				});
				var marker = new google.maps.Marker({
					position: {lat: 46.224850, lng: 35.240170},
					map: map,
					title: 'База отдыха "delMar"'
				});

			  //  google.maps.event.addListener(marker, "click", function() {
					// document.location = 'https://www.google.ru/maps/place/DelMar/@46.2247759,35.2382648,17z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNDbCsDEzJzMwLjAiTiAzNcKwMTQnMjQuOSJF!3b1!8m2!3d46.225006!4d35.240255!3m4!1s0x40e9cc1383addaeb:0x9f61ef38441c3e44!8m2!3d46.2248628!4d35.2401732';
			  //  });
				
				
				var contentString = '<div id="content">'+
					'<div id="siteNotice">'+
					'</div>'+
					'<h1 id="firstHeading" class="firstHeading">Коттедж "delMar"</h1>'+
					'<div id="bodyContent">'+
					'<p>"ДельМар" - это отдельно стоящий двухэтажный коттедж, выполненный'+
					'из соснового сруба. Номера на первом этаже оснащены персональными' + 
					'террасами, на втором этаже — балконами.</p>'+
					'<p><b>Веб-сайт:</b> <a href="http://delmar.in.ua/" target="_blank">delmar.in.ua</a>'+
					'<p><b>Google Maps:</b> <a href="https://www.google.ru/maps/place/DelMar/@46.2247759,35.2382648,17z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNDbCsDEzJzMwLjAiTiAzNcKwMTQnMjQuOSJF!3b1!8m2!3d46.225006!4d35.240255!3m4!1s0x40e9cc1383addaeb:0x9f61ef38441c3e44!8m2!3d46.2248628!4d35.2401732" target="_blank">google.maps.delmar</a>'+
					'</p>'+
					'</div>'+
					'</div>';
				var infowindow = new google.maps.InfoWindow({
					content: contentString,
					maxWidth: 400
				});
				marker.addListener('click', function() {
					infowindow.open(map, marker);
				});
		  }
	 </script>


	<link rel="stylesheet" href="css/reservation.css">

	<script src="js/reservation.js"></script>

</body>
</html>