@media screen and (max-width: 1200px)
	body
		&.mypage
			.site-header
				// height: 75vh
				min-height: 700px
				max-height: 700px
				background-size: cover
				background-repeat: no-repeat
	.header-logo
		margin-top: 20px
		padding: 0
		text-align: center
		.logo
			img
				// width: 570px
				// height: auto
	.h1
		font-size: 3.0em
	.h2
		font-size: 2.438em
	.header-button
		& .button
			padding: 10px 70px
			font-size: 1em
	.header-info-text
		font-size: 0.6em


	//content
	.gototop
		right: 50px
		bottom: 50px

	.h3-cotedj-delmar
		margin-right: 17%
	.content-kotedj-text
		p
			font-size: 0.8em
	.content-kotedj-swiper
		margin-top: 4px
		.swiper1
			width: 490px
			height: 100%
			.swiper-slide
				height: 382px

	.h3-count-of-rooms
		padding-left: 15px

	.count-of-rooms-text-1
		padding-left: 0
		p
			font-size: 0.8em

	.count-of-rooms-text-2
		p
			font-size: 0.8em



	.content-room-lux-1-text
		padding-right: 15px
		margin-bottom: 15px
		.h3
			font-size: 0.9em
		p
			font-size: 0.8em

	.content-room-lux-1
		.swiper2
			.swiper-slide
				height: 297px

	.content-room-lux-2-text
		padding-left: 0
		margin-top: 28px
		.h3
			font-size: 0.9em
		p
			font-size: 0.8em

	.content-room-lux-2
		.swiper3
			.swiper-slide
				height: 297px


	.rul-1
		padding: 0
		width: 515px
		.h3
			line-height: 1.3
			font-size: 0.8em
			padding: 5px 10px
		.triangle
			margin-left: 486px
			border-width: 0 0 66px 29px
	.rul-2
		.h3
			line-height: 1.3
			font-size: 0.8em
			width: 430px
		.triangle
			margin-left: -1px
			border-width: 66px 29px 0 0


	.service-1
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em
	.service-2
		.services-text
			font-size: 0.8em
			p
				margin: 0
				strong
					font-size: 1em
	.service-3
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em

	//footer
	.my-footer
		.contacts
			width: 100%
			.address
				float: left
				font-size: 0.8em
				width: 253px
				margin-left: 25%
				.fa
					margin: 3px 10px 0 10px
			.phone
				float: right
				margin-right: 25%
				margin-left: 0
				font-size: 0.8em
				width: 230px
				.fa
					width: 34px
					height: 34px
					margin: 5px 10px 0 10px



@media screen and (max-width: 992px)
	body
		&.mypage
			.site-header
				min-height: 650px
				max-height: 650px
				background-size: cover
				background-repeat: no-repeat
	.header-logo
		margin-top: 20px
		padding: 0
		text-align: center
		.logo
			img
				width: 340px
				height: auto
	.h1
		font-size: 3.0em
	.h2
		font-size: 2.0em
	.h3
		font-size: 1em
	.header-button
		margin-top: 15px 
		& .button
			padding: 7px 35px
			font-size: 1em
	.header-info-text
		margin-top: 15px
		font-size: 0.7em


	//content
	.h3-cotedj-delmar
		font-size: 1em
		margin-right: 16%
	.content-kotedj-text
		p
			font-size: 0.8em
	.content-kotedj-swiper
		margin-top: 0
		.swiper1
			width: 324px
			height: 100%
			.swiper-slide
				height: 280px

	.h3-count-of-rooms
		font-size: 0.9em
	.count-of-rooms-text-1, .count-of-rooms-text-2
		p
			margin: 0
				top: 20px
			font-size: 0.8em


	.content-room-lux-1-text
		padding-right: 0
		.h3
			font-size: 0.9em
		p
			font-size: 0.8em

	.content-room-lux-1
		.swiper2
			.swiper-slide
				height: 260px


	.content-room-lux-2-text
		margin-top: 27px
		.h3
			font-size: 0.9em
		p
			font-size: 0.8em

	.content-room-lux-2
		.swiper3
			.swiper-slide
				height: 260px

	.rul-1
		width: 430px
		.h3
			width: 430px
			font-size: 0.666em
		.triangle
			margin-left: 401px

	.rul-2
		margin-left: 0
		.h3
			width: 306px
			font-size: 0.666em


	.service-1
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em
		.form-svg
			height: 90px
	.service-2
		.services-text
			// width: 225px
			font-size: 0.8em
			p
				margin: 0
				strong
					font-size: 1em
	.service-3
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em
		.form3-svg
			height: 90px

	//footer
	.my-footer
		.contacts
			width: 100%
			float: center
			.address
				float: left
				font-size: 0.8em
				width: 253px
				margin-left: 17%
				.fa
					margin: 3px 10px 0 10px
			.phone
				float: right
				margin-right: 18%
				margin-left: 0
				font-size: 0.8em
				width: 230px
				.fa
					width: 34px
					height: 34px
					margin: 5px 10px 0 10px


@media screen and (max-width: 768px)
	body
		&.mypage
			.site-header
				min-height: 720px
				max-height: 720px
	.header-logo
		.logo
			img
				margin-top: 20px
				width: 270px
	.h1
		margin-top: 15px
		font-size: 2.5em
		line-height: 0.4
	.h2
		font-size: 1.8em
		line-height: 1.1
	.h3
		font-size: 1em
	.header-button
		margin-top: 35px 
		& .button
			padding: 7px 35px
			font-size: 1em
	.header-info-text
		margin-top: 25px
		font-size: 0.6em


	//content
	.h3-cotedj-delmar
		display: none
	.wave-svg
		width: 68px
		margin-bottom: 5px
	.content-kotedj-text
		p
			font-size: 0.9em
	.content-kotedj-swiper
		margin-top: 20px
		.swiper1
			width: 80%
			height: 100%
			.swiper-slide
				height: auto

	.count-of-rooms
		margin-top: 20px

	.tab-house-svg
		height: 85px

	.h3-count-of-rooms
		font-size: 0.9em
		line-height: 1.3
	.count-of-rooms-text-1, .count-of-rooms-text-2
		padding-left: 0
		p
			font-size: 0.9em
			margin: 0
				top: 10px

	.content-rooms
		margin-top: 20px
	.content-room-lux-1-text
		padding: 15px
		.h3
			font-size: 0.9em
		p
			padding-left: 15px
			padding-right: 15px
			font-size: 0.9em

	.content-room-lux-1
		padding-left: 15px
		.swiper2
			width: 80%
			.swiper-slide
				height: 100vh


	.content-room-lux-2-text
		padding: 15px
		margin-top: 10px
		.h3
			font-size: 0.9em
		p
			font-size: 0.9em

	.content-room-lux-2
		margin-top: 10px
		.swiper3
			width: 80%
			.swiper-slide
				height: 100vh


	.content-rules
		margin-top: 30px
		// height: 200px
	.rul-1
		width: 100%
		.h3
			width: 100%
			position: relative
			font-size: 0.9em
		.triangle
			display: none

	.rul-2
		margin-top: 10px
		margin-left: 0
		width: 100%
		.h3
			position: relative
			width: 100%
			font-size: 0.9em
			text-align: left
		.triangle
			display: none



	.service-1
		.services-text
			font-size: 0.9em
			p
				strong
					font-size: 1em
		.form-svg
			height: 60px
	.service-2
		.services-text
			font-size: 0.9em
			p
				margin: 0
				strong
					font-size: 1em
	.service-3
		.services-text
			font-size: 0.9em
			p
				strong
					font-size: 1em
		.form3-svg
			height: 65px

	//footer
	.my-footer
		height: 200px
		.contacts
			.address
				font-size: 0.8em
				width: 253px
				margin-left: 30%
				margin-right: 0
				padding: 10px 0
				.fa
					margin: 3px 10px 0 10px
			.phone
				float: left
				padding: 10px 0
				font-size: 0.8em
				width: 230px
				margin-left: 30%
				margin-right: 0
				.fa
					margin: 5px 10px 0 10px

@media screen and (max-width: 480px)

	body
		&.mypage
			.site-header
				min-height: 720px
				max-height: 720px
	.h1
		margin-top: 15px
		font-size: 2.3em
		line-height: 0.5
	.h2
		font-size: 1.6em
	.header-button
		margin-top: 25px
	.header-info-text
		margin-top: 25px
		font-size: 0.6em
		width: 76%

	//content
	.content-kotedj-swiper
		// margin-top: 4px
		.swiper1
			// width: 490px
			height: 100%
			.swiper-slide
				// height: 382px

	.count-of-rooms
		padding-right: 0

	.h3-count-of-rooms
		padding-left: 14px

	.tab-house-svg
		height: 85px

	.count-of-rooms-text-1
		width: 270px
		padding: 0

	.count-of-rooms-text-2
		width: 270px
		padding: 0

	.content-room-lux-1-text
		padding-right: 0px
		margin-bottom: 15px

	.content-room-lux-1
		.swiper2
			.swiper-slide
				height: 297px

	.content-room-lux-2-text
		padding-left: 0
		margin-top: 28px

	.content-room-lux-2
		.swiper3
			.swiper-slide
				height: 297px



		//footer
	.my-footer
		.contacts
			.address
				margin-left: 20%
				width: 265px
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px
			.phone
				width: 230px
				margin-left: 20%
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px

@media screen and (max-width: 360px)

	.h1
		font-size: 1.9em
	.h2
		font-size: 1.4em
		line-height: 1.1
	.header-button
		margin-top: 25px 
		& .button
			padding: 7px 35px
			font-size: 1em
	.header-info-text
		margin-top: 25px
		font-size: 0.62em
		width: 80%

	.tab-house-svg
		height: 63px
		width: 70px
		padding: 0

	.h3-count-of-rooms
		// padding: 0



	//footer
	.my-footer
		.contacts
			.address
				margin-left: 10%
				width: 250px
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px
			.phone
				width: 230px
				margin-left: 10%
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px