@media screen and (max-width: 1200px)
	body
		&.mypage
			.site-header
				// height: 75vh
				min-height: 700px
				max-height: 700px
				background-size: cover
				background-repeat: no-repeat
	.header-logo
		margin-top: 20px
		padding: 0
		text-align: center
		.logo
			img
				// width: 570px
				// height: auto
	.h1
		font-size: 3.0em
	.h2
		font-size: 2.438em
	.header-button
		& .button
			padding: 10px 70px
			font-size: 1em
	.header-info-text
		font-size: 0.6em


	//content
	.h3-cotedj-delmar
		margin-right: 17%
	.content-kotedj-text
		p
			font-size: 0.8em
	.content-kotedj-swiper
		margin-top: 4px
		.swiper1
			width: 490px
			height: 100%
			.swiper-slide
				height: 382px

	.h3-count-of-rooms
		padding-left: 15px

	.count-of-rooms-text-1
		padding-left: 0
		p
			font-size: 0.8em

	.count-of-rooms-text-2
		p
			font-size: 0.8em



	.content-room-lux-1-text
		padding-right: 15px
		margin-bottom: 15px
		.h3
			font-size: 0.9em
		p
			font-size: 0.8em

	.content-room-lux-1
		.swiper2
			.swiper-slide
				height: 297px

	.content-room-lux-2-text
		padding-left: 0
		margin-top: 28px
		.h3
			font-size: 0.9em
		p
			font-size: 0.8em

	.content-room-lux-2
		.swiper3
			.swiper-slide
				height: 297px


	.rul-1
		padding: 0
		width: 535px
		.h3
			line-height: 1.3
			font-size: 0.8em
			padding: 5px 10px
		.triangle
			margin-left: 505px
			border-width: 0 0 66px 29px
	.rul-2
		.h3
			line-height: 1.3
			font-size: 0.8em
			width: 420px
		.triangle
			margin-left: -1px
			border-width: 66px 29px 0 0


	.service-1
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em
	.service-2
		.services-text
			font-size: 0.8em
			p
				margin: 0
				strong
					font-size: 1em
	.service-3
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em

	//footer
	.my-footer
		.contacts
			.address
				margin-left: 20px
				font-size: 0.8em
				width: 253px
				.fa
					margin: 3px 10px 0 10px
			.phone
				font-size: 0.8em
				width: 230px
				.fa
					width: 34px
					height: 34px
					margin: 5px 10px 0 10px


@media screen and (max-width: 992px)
	body
		&.mypage
			.site-header
				// height: 75vh
				// min-height: 660px
				// max-height: 729px
				background-size: cover
				background-repeat: no-repeat
	.header-logo
		margin-top: 20px
		padding: 0
		text-align: center
		.logo
			img
				// width: 570px
				// height: auto
	.h1
		font-size: 3.0em
	.h2
		font-size: 2.0em
	.h3
		font-size: 1em
	.header-button
		& .button
			padding: 5px 30px
			font-size: 1em
	.header-info-text
		width: 70%
		margin-top: 10px
		font-size: 0.7em


	//content
	.h3-cotedj-delmar
		font-size: 1em
		margin-right: 13%
	.content-kotedj-swiper
		// width: 314px
		.swiper1
			width: 324px
			height: 100%
			.swiper-slide
				height: 280px

	.h3-count-of-rooms
		font-size: 1em
	.count-of-rooms-text-1, .count-of-rooms-text-2
		p
			margin: 0
				top: 20px


	.content-room-lux-1-text
		padding-right: 0
		.h3
			font-size: 1em
		p
			font-size: 0.7em


	.content-room-lux-2-text
		padding-left: 0
		margin-top: 38px
		.h3
			font-size: 1em
		p
			font-size: 0.7em

	.rul-1
		.h3
			line-height: 1.2
			width: 600px
			font-size: 1em
		.triangle
			margin-left: 552px
			border-width: 0 0 76px 29px

	.rul-2
		padding: 0
		margin-left: 285px
		.h3
			line-height: 1.2
			width: 445px
			font-size: 1em
		.triangle
			margin-left: -1px
			margin-top: -1px
			border-width: 97px 30px 0 0

	.service-1
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em
	.service-2
		.services-text
			width: 225px
			font-size: 0.8em
			p
				margin: 0
				strong
					font-size: 1em
	.service-3
		.services-text
			font-size: 0.8em
			p
				strong
					font-size: 1em

	//footer
	.my-footer
		.contacts
			.address
				font-size: 0.8em
				width: 253px
				.fa
					margin: 3px 10px 0 10px
			.phone
				font-size: 0.8em
				width: 230px
				.fa
					width: 34px
					height: 34px
					margin: 5px 10px 0 10px


@media screen and (max-width: 768px)
	.h1
		margin-top: 20px
		font-size: 48px
	.h2
		font-size: 26px
	.header-info-text
		margin-top: 10px
		font-size: 12px
	.header-button
		margin-top: 35px
		margin-bottom: 10px
	.header-logo
		.logo
			img
				margin-top: 20px
				width: 350px
				height: auto


@media screen and (max-width: 480px)
	body
		&.mypage
			.site-header
				min-height: 570px
				max-height: 570px
	.login_admin
		margin-top: 0
	.h1
		font-size: 1.278em
	.h2
		font-size: 0.944em
	.header-info-text
		font-size: 0.5em
	.header-logo
		.logo
			img
				width: 200px

	.content-kotedj-text
		p
			font-size: 0.778em

	.h3-count-of-rooms
		padding-left: 10px
		font-size: 0.889em


	.content-kotedj-swiper
		.swiper1
			width: 260px
			height: 100%
			.swiper-slide
				height: 250px

	.content-room-lux-1
		.swiper2
			width: 260px
			height: 100%
			.swiper-slide
				height: 250px

	.content-room-lux-1-text
		padding: 15px
		margin-bottom: 10px
		.h3
			font-size: 0.889em
		p
			font-size: 0.778em

	.content-room-lux-2
		.swiper3
			width: 260px
			height: 100%
			.swiper-slide
				height: 250px