@media screen and (max-width: 1200px)
	body
		&.mypage
			.site-header
				// height: 75vh
				min-height: 700px
				max-height: 700px
				background-size: cover
				background-repeat: no-repeat
	.header-logo
		margin-top: 20px
		padding: 0
		text-align: center
		.logo
			img
				// width: 570px
				// height: auto
	.h1
		font-size: 3.0em
	.h2
		font-size: 2.438em
	.header-button
		& .button
			padding: 10px 70px
			font-size: 1em
	.header-info-text
		font-size: 0.6em


	//content
	.h3-stock
		font-size: 1.8em

	.h3-booking
		font-size: 1.6em

	.info-rooms
		margin-top: 5px
	.room
		padding: 5px 16px
		margin:
			left: 65px
		width: 160px
		font-size: 0.85em
		&:first-child
			margin-left: 65px
		span
			padding: 0 10px
			font-size: 1.3em

	.name-group
		width: 305px

	.select-label
		width: 302px
		float: left
		&:last-child
			margin-left: 30px
			float: right

	.selected-input
		width: 302px
		float: left
		&:last-child
			margin-left: 30px
			float: right

	.form-input
		width: 635px

	.error-input
		margin-left: 335px

	.rul-1
		padding: 0
		width: 535px
		.h3
			line-height: 1.3
			font-size: 0.8em
			padding: 5px 10px
		.triangle
			margin-left: 506px
			border-width: 0 0 66px 28px
	.rul-2
		.h3
			line-height: 1.3
			font-size: 0.8em
			width: 435px
		.triangle
			margin-left: -1px
			border-width: 72px 29px 0 0


	//footer
	.my-footer
		.contacts
			width: 100%
			.address
				float: left
				font-size: 0.8em
				width: 253px
				margin-left: 25%
				.fa
					margin: 3px 10px 0 10px
			.phone
				float: right
				margin-right: 25%
				margin-left: 0
				font-size: 0.8em
				width: 230px
				.fa
					width: 34px
					height: 34px
					margin: 5px 10px 0 10px



@media screen and (max-width: 992px)
	body
		&.mypage
			.site-header
				min-height: 700px
				max-height: 700px
				background-size: cover
				background-repeat: no-repeat
	.header-logo
		margin-top: 20px
		padding: 0
		text-align: center
		.logo
			img
				width: 340px
				height: auto
	.h1
		font-size: 3.0em
	.h2
		font-size: 2.0em
	.h3
		font-size: 1em
	.header-button
		margin-top: 15px 
		& .button
			padding: 7px 35px
			font-size: 1em
	.header-info-text
		margin-top: 15px
		font-size: 0.7em


		//content
	.h3-stock
		font-size: 1.7em

	.h3-booking
		font-size: 1.4em

	.available-rooms
		font-size: 1.08em

	.info-rooms
		margin-top: 10px
	.room
		margin:
			left: 35px
		&:first-child
			margin-left: 35px

	.info-rooms
		margin-top: 10px
		float: right
		margin: 0 auto
		.room
			position: relative
			width: 20%
			padding: 25px 15px 10px 15px
			margin-left: 4%
			span
				display: inline-block
				position: absolute
				top: 5px
				float: left
				left: 15%
				font-size: 1em
				font-weight: bold

	.name-group
		padding: 9px 0px 9px 15px
		width: 270px
		font-size: 1em
	
	.select-label
		text-align: center
		width: 445px
		font-size: 1em
		&:last-child
			margin-left: 30px
			float: left

	.selected-input
		text-align: center
		width: 445px
		font-size: 1em
		&:last-child
			margin-left: 30px
			float: left

	.form-input
		width: 445px
	.error-input
		margin-left: 300px

	.nights
		p
			width: 395px
			top: 80px
			font-size: 0.875em

	.pay-button
		width: 45%
		top: 120px
		left: 25%
		float: left
		margin-right: 5%
		padding: 10px 15px 12px 15px
		background-color: #e0e0e0
		font-size: 1.2em

	// .button
	// 	padding: 8px 40px
	// 	font-size: 1em


	.rul-1
		width: 440px
		.h3
			width: 440px
			font-size: 0.7em
		.triangle
			margin-left: 412px
	.rul-2
		width: 300px
		.h3
			font-size: 0.7em
			width: 300px
	

	//footer
	.my-footer
		.contacts
			width: 100%
			float: center
			.address
				float: left
				font-size: 0.8em
				width: 253px
				margin-left: 17%
				.fa
					margin: 3px 10px 0 10px
			.phone
				float: right
				margin-right: 18%
				margin-left: 0
				font-size: 0.8em
				width: 230px
				.fa
					width: 34px
					height: 34px
					margin: 5px 10px 0 10px




@media screen and (max-width: 768px)
	body
		&.mypage
			.site-header
				min-height: 720px
				max-height: 720px
	.header-logo
		.logo
			img
				margin-top: 20px
				width: 270px
	.h1
		margin-top: 15px
		font-size: 2.5em
		line-height: 0.4
	.h2
		font-size: 1.8em
		line-height: 1.1
	.h3
		font-size: 1em
	.header-button
		margin-top: 35px 
		& .button
			padding: 7px 35px
			font-size: 1em
	.header-info-text
		margin-top: 25px
		font-size: 0.6em


	//content
	.h3-stock
		font-size: 1.7em

	.h3-booking
		font-size: 1.4em

	.available-rooms
		font-size: 1.08em

	.info-rooms
		float: right
		margin: 0 auto
		.room
			position: relative
			float: left
			text-align: center
			width: 20%
			height: auto
			font-size: 0.6em
			padding: 20px 3px 10px 3px
			margin-left: 4%
			span
				display: inline-block
				position: absolute
				top: 5px
				float: left
				left: 19%
				font-size: 1em
				font-weight: bold

	.name-group
		padding: 9px 0px 9px 6px
		width: 100%
		font-size: 1em
		text-align: center
		color: #878786
	
	.select-label
		margin: 13px 0 0 0
		text-align: center
		width: 45%
		font-size: 1em
		padding: 9px 0 9px 0px
		color: #878786
		&:last-child
			float: right

	.selected-input
		margin: 13px 0 0 0
		padding: 9px 0 9px 0px
		text-align: center
		width: 45%
		&:last-child
			margin-left: 0
			float: right

	.form-input
		width: 100%
		margin: 0
			top: 3px
		text-align: center
	.error-input
		margin: 0
		width: 100%
		text-align: center


	.nights
		span
			width: 200px
			font-size: 1em
		p
			width: 395px
			top: 70px
			font-size: 0.875em

	.pay-button
		width: 40%
		top: 125px
		margin-right: 10%
		padding: 5px 10px 8px 10px
		font-size: 1em

	.button
		padding: 8px 40px
		font-size: 1em

	.info-rules
		p
			margin: 15px

	.content-rules
		margin-top: 30px
		// height: 200px
	.rul-1
		width: 100%
		.h3
			text-align: center
			width: 100%
			position: relative
			font-size: 0.9em
		.triangle
			display: none

	.rul-2
		margin-top: 10px
		margin-left: 0
		width: 100%
		.h3
			text-align: center
			position: relative
			width: 100%
			font-size: 0.9em
		.triangle
			display: none


	//footer
	.my-footer
		height: 200px
		.contacts
			.address
				font-size: 0.8em
				width: 253px
				margin-left: 30%
				margin-right: 0
				padding: 10px 0
				.fa
					margin: 3px 10px 0 10px
			.phone
				float: left
				padding: 10px 0
				font-size: 0.8em
				width: 230px
				margin-left: 30%
				margin-right: 0
				.fa
					margin: 5px 10px 0 10px

@media screen and (max-width: 480px)

	body
		&.mypage
			.site-header
				min-height: 720px
				max-height: 720px
	.h1
		margin-top: 15px
		font-size: 2.3em
		line-height: 0.5
	.h2
		font-size: 1.6em
	.header-button
		margin-top: 25px
	.header-info-text
		margin-top: 25px
		font-size: 0.6em
		width: 76%


	.info-rooms
		.room
			padding: 30px 3px 10px 3px
			span
				left: 0

	.nights
		p
			margin-top: 10px
			text-align: center
			width: 285px
			font-size: 0.875em

	.pay-buttons
		width: 100%

	.pay-button
		transform: none
		left: 0
		width: 155px
		margin: 0
		float: left
		&:first-child
			margin-left: 20px
		&:last-child
			float: right
			margin-right: 20px

	.payment-method 
		margin-top: 150px
	
	.confirm-button
		margin-left: 0
	
	.main-button
		width: 210px
		padding: 8px 16px
		font-size: 1em

	.rul-1
		.h3
			text-align: left
	.rul-2
		.h3
			text-align: left


	//footer
	.my-footer
		.contacts
			.address
				margin-left: 20%
				width: 265px
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px
			.phone
				width: 230px
				margin-left: 20%
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px


@media screen and (max-width: 360px)

	.h1
		font-size: 1.9em
	.h2
		font-size: 1.4em
		line-height: 1.1
	.header-button
		margin-top: 25px 
		& .button
			padding: 7px 35px
			font-size: 1em
	.header-info-text
		margin-top: 25px
		font-size: 0.62em
		width: 80%

	.h3-stock
		font-size: 1.3em

	.h3-booking
		margin-top: -20px
		font-size: 1.3em

	.info-rooms
		.room
			font-size: 0.5em
			span
				left: 0
				font-size: 1em

	.nights
		p
			width: 315px
			font-size: 0.7em

	.pay-button
		transform: none
		left: 0
		width: 155px
		margin: 0
		float: left
		&:first-child
			margin-left: 0
		&:last-child
			float: right
			margin-right: 0

	.payment-method 
		margin-top: 170px

	.confirm-button
		margin-left: 0
	.main-button
		width: 200px
		padding: 8px 16px
		font-size: 0.9em

	//footer
	.my-footer
		.contacts
			.address
				margin-left: 10%
				width: 270px
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px
			.phone
				width: 230px
				margin-left: 10%
				padding: 10px 0
				.fa
					margin: 1px 10px 0 10px
