/*-----------------------------------------------------
-------------------------header------------------------
------------------------------------------------------*/

nav {
	position: relative;
	background: #8cb7ff;
	border-bottom: 2px solid #5c94f2;	
}

.nav li {
	float: right;
	/*margin: 0 20px; отступ строк по горизонтали*/
	/*padding: 5px 0;*/
}

.nav li a {
	padding: 14px 5px;
	cursor: default;
	color: #333;
}
.nav li a[type='button']:hover {cursor: pointer;}

a.header_info {
	margin-left: 30px;
}

a.header_info:hover {
	background: none !important;
	color: none !important;
}
/*Водитель*/
.name-page {
	float: left;
	margin-left: 20px;
	padding: 10px 20px;
}

.name-page a {
	color: #333;
	cursor: pointer;
	text-decoration: none;
	color: none !important;
	font-size: 20px;
}

.nav li a span.glyphicon {
	margin-right: 10px;
}
/*кнопка открыть-закрыть меню (при меньше чем 768pх)*/
.icon-menu {
	display: none;
	float: left;
	cursor: pointer;
	/*height: 30px;*/
	/*width: 30px;*/
	padding: 3px 8px;
	margin-top: 6px;
	margin-left: 10px;
	border: 1px solid #b1b1b1;
	border-radius: 5px;
}

.divide {
	display: block;
	height: 3px;
	width: 16px;
	margin: 4px 0;
	background: #333;
}


@media screen and (max-width: 768px) {
	nav {font-size: 12px;}
	
	.nav li { 
		margin: 10px 0;
		margin-right: 10px; 
	}
	
	.nav li a { padding: 0 0; }
	
	a.header_info {
		margin-left: 10px;
	}

	.name-page {
		margin-left: 10px;
		padding: 5px 10px;
	}

	.icon-menu {
		display: block;
		padding: 3px 8px;
		margin-top: 4px;
		margin-left: 10px;
	}
	.divide {
		width: 14px;
		height: 2px;
	}

	.name-page {
		margin-top: 2px;
		padding: 8px 0;
		font-weight: bold;
	}
	.name-page a {
		font-size: 13px;
	}
}

@media screen and (max-width: 600px) {
	nav {
		font-size: 11px;
	}
	.name-page {
		margin-left: 5px;
	}
	.name-page a{
		font-size: 12px;
	}

	.icon-menu {
		margin-top: 5px;
		margin-left: 4px;
		padding: 0.5px 6px;
	}
	.divide {
		height: 2px;
		width: 12px;
	}
}

@media screen and (max-width: 520px) {
	nav {
		font-size: 9px;
		border-bottom: solid 1px #e7e7e7;
		height: 30px;
	}
	
	.name-page {
		margin-top: 0;
		margin-left: 2px;
	}
	.name-page a {
		font-size: 10px;
	}

	.icon-menu {
		margin-top: 5px;
		margin-left: -1px;
		padding: 0px 2px;
		border: none;
	}
	.divide {
		height: 1px;
		width: 10px;
	}

	.nav li {
		margin-top: 9px;
	}

	a.header_info {
		margin-left: 0;
	}
	a.user-info {
		margin-left: -10px;
	}

	.nav li a[type='button'] {
		margin-right: -7px;
	}

	.nav li a span.name-icons {
		display: none;
	}
	.nav li a span.glyphicon {
		margin-right: 3px;
	}

}
/*-----------------------------------------------------
----------------------- content ------------------------
------------------------------------------------------*/
.content {
	
}



/*-----------------------------------------------------
-------------------------sidebar------------------------
------------------------------------------------------*/

.sidebar {
	position: fixed;
	float: left;
	background-color: #8cb7ff;
	height: 100%;
	width: 220px;

	-webkit-transition: left 0.2s ease-out;
}
.sidebar ul {
	margin-left: -40px;
}
.sidebar ul li {
	padding: 13px 0; /*высота отступов между строками*/
	/* padding-left: 20px;*/
	list-style: none;
	cursor: pointer;
}
.sidebar ul li a {
	padding: 10px 20px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
.sidebar ul li:hover {
	background-color: #5c94f2;
}

.sidebar ul li a span {
	margin-right: 15px;
}

.sidebar ul.dropdown-menu {
	margin-left: 0;
	width: 100%;
}
.sidebar ul.dropdown-menu li {
	padding: 0 0;
}

@media screen and (max-width: 768px) {
	
	.sidebar {
		position: fixed;
		left: -220px;
	}

	.sidebar.active {
		left: 0;
	}

	.sidebar ul {
		margin-left: -40px;
	}
}

@media screen and (max-width: 520px) {
	.sidebar {
		margin-top: -1px;
		width: 140px;
		font-size: 9px;
	}
	.sidebar ul li {
		padding: 8px 0;
	}
	.sidebar ul li a {
		padding: 5px 9px;
	}
	/*.sidebar ul.dropdown-menu {
		width: 100%;
	}*/

/*	.sidebar ul.dropdown-menu li {
		width: 100px;
	}*/

	.sidebar ul.dropdown-menu li a {
		font-size: 10px;
		padding: 3px 5px;
		margin-left: 10px;
	}
}

/*-------------------------------------------------
---------------- popups ---------------------------
--------------------------------------------------*/


.form-group-pos{
	margin: 10px 0 5px 0;
}
.btn-show-info {
	text-align: center;
	margin-top: 20px;
}

/*---- history balance -------*/
/*.date-orders {
	text-align: center;
	width: 100%;
}
.date-orders label 
	margin-top: 5px;
}*/
.btn-show-history-balance {
	text-align: center;
	margin-top: 20px;
}
.well {
	margin-top: 20px;
}



/* referal popup*/
.send-buttons {
	text-align: center;
	margin: 15px 0 45px 0;
}
.send {
	display: inline;
	padding: 10px;
}
.btn-show-refer {
	margin-top: 15px;
	text-align: center;
}
.table {
	margin: 30px 0;
}
.form-inline .form-group {
	padding: 5px 0;
	display: block;
}

/*----------- block call ------------*/
.modal#block-cell {
	
}

.datepicker-block .form-group label {
	/*text-align: left;*/
}

.date-block-cell {
	display: inline-block;
}

.select-block {
	margin-left: 20px;
}
.radio {
	margin-left: 10px;
}

.area {
	margin-top: 25px;
}
.select-blocks .form-group textarea {	
	max-width: 92%;
	margin: 0 20px;
}
.button-block-cell {
	text-align: center;
}

.datepicker {
	z-index: 3000;
}


/*--my conditions----*/
thead th {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: left;
	}
}

/*  content */

