<!DOCTYPE html>
<html lang ='en'>
<head>
	<title>admin delMar</title>
	<meta charset='UTF-8'>
	<meta name='viewport' content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	
	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
	<link rel="stylesheet" href="ui-bootstrap-tpls-2.5.0.min.js">

	<link rel="stylesheet" type="text/css" href="admin.css">
	<script type="text/javascript" src='admin.js'></script>
	<script type="text/javascript" src='admin-angular.js'></script>



</head>
<body ng-app='myApp'>
	
	<header class="header clearfix">
		<nav>
			<div class="icon-menu">
				<span class="divide"></span>
				<span class="divide"></span>
				<span class="divide"></span>
			</div>

			<div class="name-page clearfix"><a href="#">admin delMar</a></div>
			<ul class="nav clearfix">
				<li><a class="header_info" type='button' href='login.html'><span class="glyphicon glyphicon-log-out"></span>Выход</a></li>
				<li><a class="user-info">123456789012</a></li>
				<li><a class="header_info"><span class="glyphicon glyphicon-user"></span><span class="name-icons">Ваш позывной</span></a></li>
				<li><a class="user-info">456789</a></li>
				<li><a class="header_info"><span class="glyphicon glyphicon-piggy-bank"></span><span class="name-icons">Ваш баланс</span></a></li>		
			</ul>
		</nav>
	</header>

	<div class="sidebar clearfix">
		<ul>

			<li>
				<a class="show-clients">Клиенты</a>
			</li>
			<li>
				<a class="show-cottages">Котеджи (Строения)</a>
			</li>
			<li>
				<a>Номера</a>
			</li>
			<li>
				<a>Счета</a>
			</li>
			<li>
				<a>Разделы сайта и текста</a>
			</li>
			
			<!-- <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle='dropdown'>
					<span class="glyphicon glyphicon-list-alt"></span>История заказов
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a type='button' data-toggle='modal' data-target='#order_details' id=''>Детализация заказов</a>
					</li>
				</ul> 
			</li> -->

		</ul>
	</div>
	
	<div class="content">

			<div class="clients-content hidden col-sm-10 col-sm-offset-2" ng-controller='clientsCtrl'>
				<table class="table table-responsove">
					<thead>
						<tr>
							<th>ID клиента</th>
							<th>Телефон</th>
							<th>Персональная скидка</th>
							<th>дата заказов</th>
						</tr>
					</thead>
				</table>
			
			</div>

			<div class="cottages-content hidden col-sm-10 col-sm-offset-2" ng-controller="cottageCtrl">
				<!-- <button type="button" class="btn btn-default btn-sm" ng-click="add1()">Добавить коттедж</button> -->
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
				  Добавить коттедж
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Modal title</h4>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-4 col-xs-10">Название коттеджа</label>
										<div class="col-sm-5 col-xs-10 col-sm-offset-0">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4 col-xs-10">Количество номеров</label>
										<div class="col-sm-5 col-xs-10 col-sm-offset-0">
											<input type="text" class="form-control">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">отменить</button>
								<button type="button" class="btn btn-primary">Добавить</button>
							</div>
						</div>
					</div>
				</div>



				<!-- <div modal='show1' close='close1()'>
					<div class='modal-dialog'>
						<div class="modal-content">
							<div class="modal-header">
								<button type='button' class='close' ng-click="close1()">&times;</button>
								<lable>Добавить коттедж</lable>
							</div>
							<div class="modal-body">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-sm-4 col-xs-10">Название коттеджа</label>
										<div class="col-sm-5 col-xs-10 col-sm-offset-0">
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-4 col-xs-10">Количество номеров</label>
										<div class="col-sm-5 col-xs-10 col-sm-offset-0">
											<input type="text" class="form-control">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div> -->
				

			</div>


			

	</div>

	<!-- =============================== POPUPS =====================================-->

	<!-- POPUP DONATE BALANCE -->
	<div class='modal fade' id='donate_balance'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type='button' class="close" data-dismiss='modal' id=''>&times;</button>
					<label>Пополнение баланса</label>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-2">Сумма пополнения</label>
							<div class="col-sm-6 col-xs-8 col-sm-offset-3 col-xs-offset-2">
								<input type="text" class="form-control" id='count_of_donate'>
							</div>
						</div>
						<center>
							<button type='button' id='btn_donate' class="btn btn-default btn-md">Пополнить</button>
						</center>
					</form>
				</div>
			</div>
		</div>
	</div>





</body>
</html>