form {
	max-width: 300px;
	margin: 2% auto 20px;
	border-radius: 5px;
}
.form-horizontal{
	padding: 10px 30px;
	background-color: white;
	border: 1px solid #e5e5e5;
}
.log-in {
	margin-bottom:  40px;
}
#label_login_1, #label_pass_1, #label_pass_2 {
	text-align:  left;
}
/*.col-sm-7 {
	float: right;
}*/
/*radio group//////////////////////*/
.radio-group {
    margin-left: 50px;
}


#login_btn {
	display: block;
	width: 60%;
	margin-top: 30px;
}
.forgot_pass {
	text-align: center;
	margin-top: 20px;
}
.forgot_pass a {
    margin: 5px 0;
    display: block;
}
#forgot_pass {
	font-size: 12px;
	color: #999999;
}
.login_show_alert {
	color: #b30000;
}
.alert1 {
 	margin-top: 40px;
}
.alert2 {
	margin-top: 5px;
}

.radio-group {
    margin-left: 85px;
}
.radio {
    cursor: pointer;
}

a:link {
	cursor: pointer;
	text-decoration: underline;
}
a:hover {
	color: #999999!important;
}



@media (min-width: 320px) {
	.conteiner {
		min-width: 320px;
	}
	.col-sm-7 {
		width: 100%;
	}
}
