@font-face 
	font-family: 'CenturyGothicBold'
	font-weight: 100
	font-style: bold
	src: url('/fonts/CenturyGothicBold/CenturyGothicBold.ttf') format('truetype')

@font-face 
	font-family: 'CenturyGothic'
	font-weight: 100
	font-style: normal
	src: url('/fonts/CenturyGothic/GOTHIC.TTF') format('truetype')

@font-face 
	font-family: 'CenturyGothicRegular'
	font-weight: 600
	font-style: normal
	src: url('/fonts/Century Gothic - Regular/CenturyGothic.ttf') format('truetype')

@font-face 
	font-family: 'CenturyGothicItalic'
	font-weight: 100
	font-style: normal
	src: url('/fonts/CenturyGothic - Italic/ofont.ru_Century Gothic Italic.ttf') format('truetype')

