@import "vars"
@import "libs"
@import "fonts"

body
	overflow: hidden
	font-size: 18px
	line-height: 1.25
	font-family: $default-font
	margin: 0
	padding: 0
	&.mypage
		.site-header
			min-height: 965px
			max-height: 965px
			height: 100vh
			background-size: cover
			background-position: center
.h1, .h2, .h3, .h4, .h5, .h6
	line-height: 0.95
	cursor: default
p
	cursor: default	
.header-logo
	margin-top: 50px
	padding: 0
	text-align: center
	.logo
		img
			width: 25vw
.main-info-about-delmar
	padding: 0
	.header-name
		padding: 0

.form
	margin-top: 60px
	background-color: rgba(255, 255, 255, 0.3);
	padding: 40px 40px
	input
		outline: none
		display: block
		background-color: white
		border: none
		font-size: 12px
		padding: 15px
		width: 100%
		margin: 20px 0
		transition: all .4s ease
		&:first-child
			margin-top: 0
		&:focus
			box-shadow: inset 0 -3px $blue
	::placeholder
		color: $blue

.button
	letter-spacing: 1px
	outline: none
	text-transform: uppercase
	font-size: 14px
	background-color: $blue
	border: none
	border-bottom: #61acad 4px solid
	color: white
	width: 100%
	padding: 15px
	transition: all .3s ease
	&:hover
		background-color: #78d2d3
	&:active
		background-color: $blue

.link_password
	outline: none
	display: block
	font-size: 11px
	width: 92px
	margin: auto
		top: 12px
	color: $blue
	&:hover
		color: #f1f1f1
	&:focus
		color: silver
		text-decoration: none

@import "media/login_media"